body {
    min-height: 800px;
    background-size: 1600px 1200px;
    background-repeat: no-repeat;
    background-image: url("/assets/img/bg.jpg");
}

.captcha {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 1.3em;
    padding: 3px;
    border-radius: 5px;
    text-decoration: line-through;
    color: #a0a0a0;
    background-color: #0c0c0c;
}

#submit {
    border-radius: 40px;
    width: 80%;
}

.nav-pills .nav-link {
    border-radius: 10px 40px 0 0 !important;
    color: #fff;
    background-color: #212C5F;
    padding: 6px 40px 6px 20px;
    font-size: 19px;
}

.nav-item {
    padding-right: 5px;
}

.nav-pills .nav-link.active {
    color: #000000;
    background-color: #EDEDF2 !important;
    border: 1px solid rgba(0,0,0,.125)
}